apiVersion: v1
kind: Service
metadata:
  name: workspace-runtime-{{ workspace.id }}
  labels:
    app: workspace-runtime
    workspace-id: "{{ workspace.id }}"
spec:
  type: {{ service.type }}
  selector:
    app: workspace-runtime
    workspace-id: "{{ workspace.id }}"
  ports:
    - name: main
      port: {{ ports.default_internal_port }}
      targetPort: {{ ports.default_internal_port }}
{% if service.node_port %}      nodePort: {{ service.node_port }}
{% endif %}{% for extra_port in ports.additional %}    - name: port-{{ loop.index }}
      port: {{ extra_port.container_port }}
      targetPort: {{ extra_port.container_port }}
{% if extra_port.node_port %}      nodePort: {{ extra_port.node_port }}
{% endif %}{% endfor %}
